<%= form_for(Content.new, :remote => true, :id => "new_content", :html => {:class => "centered"}) do |f| %>
	
	<h4>Add memories (files) to Alarm</h4> <br/>
	
	<%= f.text_field :title %> <br/>
	
	<div class="fileupload fileupload-new" data-provides="fileupload" id = "file_upload">
  		<div class="input-append">
    		<div class="uneditable-input span3">
    			<i class="icon-file fileupload-exists"></i> 
    			<span class="fileupload-preview"></span>
    		</div>
    		<span class="btn btn-file"><span class="fileupload-new">Select file</span>
    		<span class="fileupload-exists">Change</span><%= f.file_field :content_file%>
    		</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
  		
  	<%if false%>
	<div class="dropdown">
  	<a id = "dropdown_link" data-toggle="dropdown" href="#">Dropdown trigger</a>
  		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    		...
  		</ul>
	</div>  		
  	<%end%>	
  	<br/>
  			
	<%= f.submit "Save", :class => "btn btn-success btn-large "%> <br/> <br/> 
	
<%end%>

  
<script>
  $.watermark.options.className = 'watermark';  
  $.watermark.options.useNative = false;
  $('#content_title').watermark("Title");
</script>  
