<%if @groups != []%>
<h3 class = "centered">Your Groups</h3>

	<%= div_for(@groups) do |group| %>

		<p><%= link_to group.name, group_path(group.id) %></p>
	
	

	<%end%>
	
<%else%>
	You don't seem to be in any groups. <%= link_to "Create one!", new_group_path %>
<%end%>
