<h3 id = "group_name" class = "centered"><%=@group.name%></h3> <br/>


<ul class="nav nav-tabs">
  <li class = "active"><a href="#group_members_pane" data-toggle="tab">Members</a></li>
  <li><a href="#group_content_pane" data-toggle="tab">Content</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active" id="group_members_pane"> <%= render "users/table" %></div>
  <div class="tab-pane" id="group_content_pane"> <%= render "contents/table"%></div>

</div>



<br/>
<%= link_to "Invite friends", create_invite_path(@group.id), :id => "invite_link", :remote => true%>
