.centered{
	text-align:center;
}

.watermark{
	text-align:center;
}

a, a:hover{
	text-decoration:none;
}

a:visited{
	text-decoration: none;
}

input.btn-form{
	width: 220px;
}

#wrapper{
	text-align: center;
}

#navlinks{
	margin-top: -12px;
	margin-bottom: 10px;
	
}

.btn-inverse{
	background-color: #463265;
	color: white;
}

.btn-inverse:hover{
	background-color: #3F2F57;
	color:white;
}

.field > *, #password_hash{
	width: 215px;
}


