/* Place all the styles related to the users controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*/



#users_table{
	width: 20%;
	margin-left: 40%;
}

#users_table_container{
	text-align: center;
}

#users_header_row > *{
	text-align:center;
}

